.myfooter {
	height:100px;
	width:100%;
	position:absolute;
	bottom:0px;
	background-color: rgba(154,154,154, 0.5); 
	display:none;
}

.maintextbg {
	min-width: 250px;
	width:50%;
	background-color: rgb(255,255,255); 
	background-color: rgba(255,255,255, 0.8); 
	margin-left:25%;
	padding: 15px;
}

.u-full-width {
		-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	height:38px;
	width:50%;
}

.button-primary {
	height:38px;
	padding: 0px 10px 0px 10px;
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;

	font-weight:bold;
	
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button-primary:hover {
    background-color:#f6f6f6
}

.fieldResponse {
    opacity:0;
    height:30px;
    background-color:rgba(255,255,255,0.7);
    text-transform:uppercase;
    padding:0 15px;
    box-sizing:border-box;
    border-radius:4px;
    overflow:hidden;
    margin:20px auto 0;
    max-width:360px;
    width:100%;
    height:80px;
    display:table
}

.fieldResponse	label {
    color:#189418
}

.fieldResponse	.formError {
    color:red
}

label {
    display:table-cell;
    vertical-align:middle;
    font-weight:400;
    text-align:left;
    letter-spacing:.1rem;
    line-height:130%;
    font-size:.9em;
    text-shadow:1px 1px 6px rgba(255,255,255,0.51)
}

label @media only screen and @media4_ {
    width:290px;
    font-size:1.1em
}