/* ==========================================================================
   BOILERPLATE STYLES
   ========================================================================== */

    /* ==========================================================================
       IMPORTS
       ========================================================================== */

        @import url('../machines/libraries/bootstrap/less/bootstrap.less');
        @import url('../machines/libraries/font-awesome/less/font-awesome.less');

    /* ==========================================================================
       COLORS
       ========================================================================== */

        @white: rgb(255, 255, 255);
        @offWhite: rgb(247, 247, 247);
        @greyLightest: rgb(238, 238, 238);
        @greyLighter: rgb(221, 221, 221);
        @greyLight: rgb(188, 188, 188);
        @greyMid: rgb(122, 122, 122);
        @greyDark: rgb(61, 61, 61);
        @greyDarker: rgb(30, 30, 30);
        @greyDarker: rgb(16, 16, 16);
        @offBlack: rgb(8, 8, 8);
        @black: rgb(0, 0, 0);
        @spicer_green_mid: rgb(81,149,53);

    /* ==========================================================================
       TEMPLATE VARIABLES
       ========================================================================== */

        @defaultColor: @greyDark;

        @headerHeight: 108px;
        @footerHeight: 190px;
        @mobileHeaderHeight: @headerHeight * 1.0;

        @fontFamily: 'proxima-nova', sans-serif;

        @zindexMainMenu: 100;
        @zindexLogo: 101;

    /* ==========================================================================
       MEDIA QUERIES
       ========================================================================== */

        @media0: ~"(min-width: 1440px)";
        @media0_: ~"(max-width: 1439px)";

        @media1: ~"(min-width: 1200px)";
        @media1_: ~"(max-width: 1199px)";

        @media2: ~"(min-width: 960px)";
        @media2_: ~"(max-width: 959px)";

        @media3: ~"(min-width: 720px)";
        @media3_: ~"(max-width: 719px)";

        @media4: ~"(min-width: 480px)";
        @media4_: ~"(max-width: 479px)";


    /* ==========================================================================
       TEMPLATE MIXINS
       ========================================================================== */

        .displayInlineBlock(@vAlign: top){
            display: inline-block;
            *display: inline;
            vertical-align: @vAlign;
            *vertical-align: @vAlign;
        }

        .displayNone(){
            display: none !important;
        }

        .displayTable(){
            display: table !important;
        }

        .positionAbsolute(){
            position: absolute !important;
        }

        .positionFixed(){
            position: fixed !important;
        }

        .displayTableCell(@vAlign: middle) {
            display: table-cell;
            vertical-align: @vAlign;
        }

        .overflowScrollingTouch(){
            -webkit-overflow-scrolling: touch;
        }

        .fontAwsome(@icon){
            @faPrefix: "fa-var-@{icon}";
            .fa-icon();
            content: @@faPrefix;
        }
        
        .disableSelect(){
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

/* ==========================================================================
   STICKY FOOTER
   ========================================================================== */

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: @footerHeight;
        font-family: @fontFamily;
        overflow-y: scroll;
    }
    .mobileMode{
        margin-bottom: 0px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: @footerHeight;
        .mobileMode &{
            position: relative;
        }
    }

/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

    body{
        background-color: @white;
        letter-spacing: 0.3px;
        font-family: @fontFamily;
        color: @defaultColor;
    }

    .displayTableCell{
        .displayTableCell();
    }

    .displayTable{
        .displayTable();
    }

    .mm-page{
        box-shadow: none !important;
    }

    #mm-navbar{
        *{
            // background-color: @greyMid !important;
            font-family: @fontFamily !important;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 0.7px;
            background-color: @spicer_green_mid;
        }
    }
    p, li{
        font-size: 1.2em;

    }
    .featured_img_box{
        width: 100%;
        // margin-top: @headerHeight;
        .featured_img{
            width: 100%;
            height: 30em;
        }
    }



/* ==========================================================================
   HEADER
   ========================================================================== */

        .header{
            height: @headerHeight;
            > .container{
                height: 100%;
                .navbar-header{
                    height: 100%;
                    .mobileMode &{
                        height: @headerHeight;
                        width: 99%;
                    }
                    .navbar-brand{
                        height: 100%;
                        padding: 0px;
                        margin: 0px;
                        img{
                            height: 100%;
                            @media screen and @media2_{
                                padding: 15px;
                            }
                        }
                    }
                }
                #navbar{
                    height: 100% !important;
                    .mobileMode &{
                        display: none !important;
                    }
                    > ul{
                        height: 100%;
                        > li{
                            height: 100%;
                            > a{
                                padding: 0px;
                                height: 100%;
                                display: table;
                                span{
                                    .displayTableCell();
                                }
                            }
                        }
                    }
                }
            }
        }

    .mobileMode{
        .mm-list{
            padding-top: @mobileHeaderHeight;
        }
    }

    #menu-main-menu{
        li{
            &:hover{
                > .sub-menu{
                    display: block;
                    .sub-menu{
                        top: 0px;
                        left: 100%;
                    }
                }
            }
        }
    }

/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
    background-color: @greyLightest;
    border-top: 3px solid @spicer_green_mid;

    .container{
        padding-top: 1.5em;
    }

    .footerInfo{
        float: left;

        a {
            color: @greyDarker;
            &:hover{
                text-decoration: none;
            }
        }
        .mobileMode &{
            > .displayTable{
                width: 100%;
                text-align: center;
            }
        }

    }
    .paymentMenu {
        float: left;
        ul {
            list-style-type: none;
        }
        li {
            .displayInlineBlock();
            font-size: 2em;
            color: @spicer_green_mid;    
        }
        .mobileMode &{
            > .displayTable{
                width: 100%;
                text-align: center;
            }
        }
    }
    .footerMenu {
        float: left;
        text-align: right;
        .mobileMode&{
            .footerWidth{
            width: 100% !important;
        }
        }
        ul {
            list-style-type: none;
            padding-left:0;
        }
        li {
            display: inline;
            border-right: 1px solid @greyDarker;
            padding: 0em 0.7em;
        }
        a {
            text-transform: uppercase;
            color: @greyDarker;
            &:hover{
                text-decoration: none;
            }
        }
        .mobileMode &{
            > .displayTable{
                width: 100%;
                text-align: center;
            }
        }
    }

    .mobileMode &{
        height: auto;
        .footerInfo{
            width: 100%;
            font-size: .75em;
        }
        .paymentMenu{
            width: 100%;
            text-align: center; 
            ul {
                padding: 0;
            }           
        }
        .footerMenu{
            width: 100%;
            text-align: center;
            font-size: .75em;
            padding: 0;
        }
        
    }

}


/* ==========================================================================
   HEADER OVERRIDE
   ========================================================================== */

        .header{
            height: @headerHeight;
            background-color: @white;
            background-color: rgba(255,255,255,0.85);
            > .container{
                height: 100%;
                .navbar-header{
                    height: 100%;
                    width: 40%;
                    .mobileMode &{
                        height: @headerHeight;
                        

                    }
                    .navbar-brand{
                        height: 100%;
                        padding: 0px;
                        margin: 0px;
                        img{
                            height: 100%;
                        }
                    }
                }
                #navbar{
                    height: 100% !important;
                    .mobileMode &{
                        display: none !important;
                    }
                    > ul{
                        height: 100%;
                        > li{
                            height: 100%;
                            margin-left: 3em;
                            > a{
                                padding: 0px;
                                height: 100%;
                                color: @greyDark;
                                font-weight: 600;
                                display: table;
                                span{
                                    display: table-cell;
                                    vertical-align: bottom;
                                    text-transform: uppercase;
                                    padding-bottom: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }

    .mobileMode{
        .mm-list{
            padding-top: @mobileHeaderHeight;
        }
    }

    #menu-main-menu{
        float: right;
        li{
            &:hover{
                > .sub-menu{
                    display: block;
                    .sub-menu{
                        top: 0px;
                        left: 100%;
                    }
                }
            }
        }
    }

    .mobileMode{
        .navbar-toggle{
            display: block;
            margin-right: 0px;
        }
    }


/* ==========================================================================
   PAGE CONTAINER
   ========================================================================== */
    
    .pageSection{
        // margin-top: @headerHeight;
        margin-bottom: @footerHeight + 60px;
        .mobileMode &{
            margin-bottom: 0px;
        }
        .the_content{
            p {
                font-size: 1.2em;
            }
        }
    }


    h2, h3 {
        color: @spicer_green_mid;
        text-transform: uppercase;
        font-size: 2em;
        margin-bottom: 0.8em;
    }

    hr {
        border-top: 3px solid @spicer_green_mid;
        width: 100px;
        text-align: left;
        margin-left: 0;
    }

/* ==========================================================================
   PAGE SPECIFIC
   ========================================================================== */
   #contact{
    .pageSection{
        .container{
            .thisPageContainer{
                .make-row();
                margin-left: 0px;
                margin-right: 0px;
                vertical-align: top;
                .the_content{
                    .make-sm-column(6);
                    margin-bottom: 4em;
                    width: 40%;
                    padding-left: 0px;
                }
                    .contactFormBlock{
                        .make-sm-column(6);
                        width: 100%;
                        display: block;
                        margin: 0 0 5em 0;
                        background-color: @greyLightest;
                        padding: 3em;
                        .formWrapper{
                            width: 95%;
                            margin: 0 auto;
                            text-align: center;
                            form{
                                fieldset{
                                    .formField{
                                        width: 100%;
                                        margin: 0 auto;
                                        margin-bottom: 1em;
                                        .fieldContent{
                                            text-align: left;
                                            label{
                                                font-size: 1em;
                                                color: @greyDarker;
                                                font-weight: 500;
                                                letter-spacing: 0.1em;
                                                text-transform: uppercase;
                                                display: block;
                                            }
                                            input{
                                                display: block;
                                                height: 3em;
                                                width: 100%;
                                                border-radius: 0;
                                            }
                                            select{
                                                
                                                border-radius: 0px !important;
                                                -webkit-appearance: none
                                            }
                                        }
                                        .submit{
                                            background-color: @spicer_green_mid;
                                            border: 0;
                                            font-size: 1em;
                                            color: @white;
                                            margin-top: 1em;
                                            font-weight: 500;
                                            letter-spacing: 0.1em;
                                            text-transform: uppercase;
                                            border-radius: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .googleMap{
                        width: 100%;
                        height: 25em;
                        margin-bottom: 5em;
                        display: block;
                    }
            }
        }
    }  
    #home{
        .featured_img_box{
            height: 0px;
        }
        .pageSection{
            .container_home{
                .container_slideshow{
                    margin: 0 0 4em 0;
                    .homeSlides{
                    width: 100%;
                    display: block;
                    margin: 0;
                    padding: 0;
                    .homeSlideItem{
                        height: 35em;
                        .owl-carousel{
                            .owl-controls{
                                .owl-nav{
                                    .owl-prev{
                                        display: block !important;
                                    }
                                }
                            }
                        }
                        .container{
                            .the_content{
                                   font-size: 50px;
                                   font-weight: 700;
                                   color: @greyMid;
                                   background-color: @white;
                                   background-color: rgba(255,255,255,.8);
                                   margin: 0;
                                   width: 14em;
                                   height: 2.5em;
                                   position: absolute;
                                   bottom: 10%;
                                   overflow: hidden;
                                h1, h2, h3, h4, h5, h6{
                                    color: @greyDark;
                                    font-style: italic;
                                    font-size: 1em;
                                    font-weight: 600;
                                    text-align: center;
                                }
                                .mobileMode&{
                                  max-width: 100%;
                                  left: 0;
                                  bottom: 0; 
                                  @media screen and @media3_{
                                    display: none !important;
                                }
                            }

                        }
                    }
                }
                }
                
            }
            .carouselContainer{
                border-top: 1px solid @greyMid;
                margin-bottom: 3em;
                border-bottom: 1px solid @greyMid;
                padding-bottom: 2em;
                padding-top: 2em;
                .mobileMode&{
                    border-top: 0px !important;
                }
                .owl-carousel{
                    position: relative;
                    display: block;
                    .owl-stage-outer{
                        .owl-stage{
                            .owl-item{
                                .testimonial_item{
                                    .the_title{
                                        font-size: 2em;
                                        color: @spicer_green_mid;
                                        text-transform: uppercase;
                                        margin-bottom: 0.6em;
                                        text-align: center;
                                    }
                                    .the_content{
                                        text-align: center;
                                        p {
                                            padding: 0em 3em;
                                            .mobileMode&{
                                                padding: 0em !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .owl-controls{
                        .owl-nav{
                        }
                    }
                }
            }
            .row_box{
                .row();
                .linkListbox{
                    .make-md-column(4);
                    .linkListing{
                        background-color: @greyLightest;
                        width: 100%;
                        padding: 2em;
                        margin-bottom: 2em;
                        .link_item{
                            margin-bottom: 1em;
                            a.the_title{
                                font-size: 1em;
                                text-transform: uppercase;
                                color: @greyMid;
                                text-align: left;
                                &:hover{
                                    color: @spicer_green_mid;
                                    .transition(1s);
                                }
                            }
                        }
                    }
                    .second_editor_box{
                        width: 100%;
                        display: block;
                        margin: 0;
                        padding: 2em;
                        color: @white;
                        background-color: @spicer_green_mid;
                        h1, h2, h3, h4, h5, h6{
                            color: @white;
                            font-size: 2.3em;
                            letter-spacing: 0.1em;
                            font-weight: 300;
                        }
                        .second_editor{
                            width: 100%;
                            margin: 0 auto;
                            hr{
                                border-top: 3px solid @white;
                            }
                        }
                    }
                }
                .the_content{
                    .make-md-column(8);
                }
            }            
        }
    }
    .homeBoxes{
        margin-bottom: 2em;
        .row();
        .homepage_boxes_item{
            .make-md-column(4);
            .mobileMode&{
                text-align: center;
            }
        }
    }
}

#about{
    
    .container{
        .content_box_row{
            .row();
            margin-right: 0px;
            margin-left: 0px;
            .the_content{
                width: 100%;
            }
            .content_box{
                .left_container{
                    .make-md-column(6);
                    padding-left: 0px;
                    padding-right: 0px;
                    .second_editor{
                        p{
                            font-size: 1.2em;
                        }
                        ul{
                            list-style-image: url('../images/graphics/check.png');
                            padding-left: 2em;
                            padding-right: 2em;
                            li{
                               margin: 12px 0px;
                           }
                       }
                   }
               }
               .right_container{
                .make-md-column(6);
                padding-right: 0px;
                @media screen and @media2_{
                    padding-left: 0px
                }
                .featured_img_box{
                    margin-bottom: 2em;
                    .about_img{
                        height: 40em;
                    }
                }
                .form_box{
                    .form_content{
                        display: block;
                        img{
                            width: 100%;
                        }
                    }
                }
            }

        }
    }
    .qualifications_container{
        .row();
        margin-left: 0px;
        margin-right: 0px;
        .qualifications{
            width: 98%;
            .column{
                @media screen and @media4_{
                    width: 100% !important;
                }
            }
            .qualifications_item{
                //.make-md-column(6);
                padding-left: 0px;
                .the_title{
                    font-size: 1.2em;
                    margin-bottom: 1em;
                    }//the_title
                }//qualifications_item
            }//qualifications
        }//qualifications_container
    }
}
